::-moz-selection {
  color: #ffffff;
  background: rgba(159, 26, 226);
}
::selection {
  color: #ffffff;
  background: rgba(159, 26, 226);
}

.container_mod {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge_event {
  background-color: #fff;
  color: rgb(35, 47, 204);
  border-radius: 9999px;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
}

.link_event {
  text-decoration: underline;
  color: #fff;
  font-weight: 700;
  text-underline-offset: 0.25rem;
  -ms-text-underline-position: 0.25rem;
  text-decoration-thickness: 2px;
  transition: all 0.3s ease-in-out;
}

.link_event:hover {
  color: rgba(255, 255, 255, 0.7);
}

.link_workshop {
  text-decoration: underline;
  color: rgba(159, 26, 226, 1);
  font-weight: 700;
  text-underline-offset: 0.25rem;
  -ms-text-underline-position: 0.25rem;
  text-decoration-thickness: 2px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.link_workshop:hover {
  color: rgba(159, 26, 226, 0.7);
}

.figure_workshop {
  width: 100%;
  height: 6rem;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
  box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, 0.1);
}

.image_workshop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#workshop .row.workshop_image_container > [class*="col-"] {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.link_badge_sponsor {
  width: 10rem;
  height: 10rem;
  padding: 1.75rem;
  margin: 1.5rem;
  border-radius: 0.625rem;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.link_badge_sponsor:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.app-badge.badge_sponsor {
  width: 100%;
  height: auto;
  display: block;
}

.join_event_title {
  width: 75%;
  margin-bottom: 3.5rem;
}

.card_event {
  width: 100%;
  height: 100%;
  border-radius: 0.875rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.625rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card_event_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.card_event:hover .card_event_image {
  transform: scale(1.15);
}

.card_event_screen {
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 3;
  position: absolute;
  background: rgb(35, 47, 204);
  background: -moz-linear-gradient(
    180deg,
    rgba(35, 47, 204, 0.96) 5%,
    rgba(159, 26, 226, 0.16) 60%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(35, 47, 204, 0.96) 5%,
    rgba(159, 26, 226, 0.16) 60%
  );
  background: linear-gradient(
    180deg,
    rgba(35, 47, 204, 0.96) 5%,
    rgba(159, 26, 226, 0.16) 60%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#232fcc",endColorstr="#9f1ae2",GradientType=1);
}

.card_event_body {
  position: relative;
  z-index: 5;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card_event_date {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.84);
  margin-bottom: 1rem;
}

.card_event_title {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-shadow: 0.25rem 0 1.125rem rgba(0, 0, 0, 0.7);
}

.model-subtitle-regist {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.84);
  margin-bottom: 0.25rem;
}

.btn_card_event {
  background-color: #ffffff;
  color: rgba(33, 37, 41, 1);
  border-radius: 9999px;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  box-shadow: 0.25rem 0 1.5rem 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.btn_card_event:hover {
  color: #ffffff;
  background-color: rgb(35, 47, 204);
}

.modal-footer.modal_footer {
  border: none;
}

.btn.modal_submit_btn {
  border-radius: 9999px;
  padding: 0.5rem 1.25rem;
  font-weight: 700;
}

.btn.modal_submit_btn.close_btn {
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
}

.btn.modal_submit_btn.close_btn:hover {
  color: rgba(0, 0, 0, 1);
}

.privacy_container,
.terms_container {
  width: 60%;
  margin: 0 auto;
}

.text_privacy,
.text_terms {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.84);
}

@media screen and (max-width: 991px) {
  .nav_btn_feedback {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .join_event_title {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .link_badge_sponsor {
    width: 8rem;
    height: 8rem;
    padding: 1.25rem;
    margin: 1rem;
  }

  .privacy_container,
  .terms_container {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .privacy_container,
  .terms_container {
    width: 100%;
  }

  .text_privacy,
  .text_terms {
    font-size: 1rem;
  }
}
