.main_login {
  width: 100%;
  min-height: 100vh;
}

.main_login_content {
  min-height: 100vh;
  width: 100%;
}

.brand_login {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}

.card_login {
  width: 27rem;
  margin: 0 auto;
  border-radius: 1rem;
}

.fw_bold {
  font-weight: 700 !important;
}

label.error {
  color: #df4759;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  margin-left: 0.125rem;
  margin-bottom: 0;
}

label.error i {
  margin-right: 0.25rem;
}

input.error,
select.error,
textarea.error {
  border: 1px solid #df4759 !important;
}

input.error:focus,
select.error:focus,
textarea.error:focus {
  border-color: #ff0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

@media screen and (max-width: 576px) {
  .brand_login {
    font-size: 1.75rem;
  }
  .card_login {
    width: 94%;
  }
}
