::-moz-selection {
  color: #ffffff;
  background: rgba(159, 26, 226);
}
::selection {
  color: #ffffff;
  background: rgba(159, 26, 226);
}

.container_mod {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge_event {
  background-color: #fff;
  color: rgb(35, 47, 204);
  border-radius: 9999px;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
}

.link_event {
  text-decoration: underline;
  color: #fff;
  font-weight: 700;
  text-underline-offset: 0.25rem;
  -ms-text-underline-position: 0.25rem;
  text-decoration-thickness: 2px;
  transition: all 0.3s ease-in-out;
}

.link_event:hover {
  color: rgba(255, 255, 255, 0.7);
}

.link_workshop {
  text-decoration: underline;
  color: rgba(159, 26, 226, 1);
  font-weight: 700;
  text-underline-offset: 0.25rem;
  -ms-text-underline-position: 0.25rem;
  text-decoration-thickness: 2px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.link_workshop:hover {
  color: rgba(159, 26, 226, 0.7);
}

.figure_workshop {
  width: 100%;
  height: 6rem;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
  box-shadow: 0px 0px 1.5rem rgba(0, 0, 0, 0.1);
}

.image_workshop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#workshop .row.workshop_image_container > [class*="col-"] {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.link_badge_sponsor {
  width: 10rem;
  height: 10rem;
  padding: 1.75rem;
  margin: 1.5rem;
  border-radius: 0.625rem;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.link_badge_sponsor:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.app-badge.badge_sponsor {
  width: 100%;
  height: auto;
  display: block;
}
