.nav-item.nav_item .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar_message {
  display: block;
}

.sidebar.toggled .sidebar_message {
  display: none;
}

.table_event_number {
  width: 5%;
  vertical-align: middle;
}
.table_event_name {
  width: 20%;
  vertical-align: middle;
}
.table_event_date {
  width: 13%;
  vertical-align: middle;
}
.table_event_information {
  width: 50%;
  vertical-align: middle;
}
.table_event_action {
  width: 12%;
  vertical-align: middle;
}

label.error {
  color: #df4759;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  margin-left: 0.125rem;
  margin-bottom: 0;
}

label.error svg {
  margin-right: 0.25rem;
}

input.error,
select.error,
textarea.error {
  border: 1px solid #df4759 !important;
}

input.error:focus,
select.error:focus,
textarea.error:focus {
  border-color: #ff0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
